<h2>Welcome To bingo</h2>

<%= link_to 'Join a game', participations_path, method: :POST %>

<h3>Top 5 players </h3>

<table>
  <tr>
    <th>Name</th>
    <th>Wins</th>
  </tr>
  <% @leaderboard.each do |player, wins| %>
    <tr>
      <td style="color: <%= Player::Color.new(player).to_s %>"><%= player.name %></td>
      <td><%= wins %></td>
    </tr>
  <% end %>