<div class="welcome">
  <h2>It&rsquo;s BingoBango Time</h2>

  <%= link_to 'Join a game', participations_path, method: :POST, class: 'button-alt' %>

  <% if @leaderboard.present? %>
    <div class="leaderboard">
      <table>
        <thead>
          <th colspan="2">
            <h3>Top 5 Players</h3>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="leaderboard-player-name">Name</th>
            <th>Wins</th>
          </tr>
          <% @leaderboard.each do |player, wins| %>
            <tr>
              <td class="leaderboard-player-name">
                <%= player_tag(player) %>
              </td>
              <td><%= wins %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
