<h2>Welcome To bingo</h2>

Currently Game #<%= @current_game.number %> is <%= @current_game.current_state %>.

<% if @current_game.in_progress? %>
  <%= link_to 'Join the next game', waiting_room_path %>
<% else %>
  <%= link_to 'Join current game', @current_game.current_game_url %>
<% end %>
