$brand-primary: #5b5641
$brand-secondary: #e8c11c

*
  box-sizing: border-box
  -webkit-touch-callout: none
  -webkit-user-select: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

body
  font: normal 16px/1.5 "Helvetica Neue", Helvetica, sans-serif
  margin: 0
  padding: 0

input, button
  font: normal 16px/1.5 "Helvetica Neue", Helvetica, sans-serif

h1, h2, h3, h4, h5, h6
  padding: 0
  margin: 0

a
  text-decoration: none

input, textarea
  -webkit-touch-callout: default !important
  -webkit-user-select: text !important

.errors
  color: red
  font-weight: bold

.game-state
  text-transform: capitalize

.player
  vertical-align: middle
  &, & *
    line-height: 20px
    display: inline-block
  .icon-user
    width: 20px
    height: 20px
    border-radius: 10px
    background: #aaa
    overflow: hidden
    color: #fff
    font-size: 14px
    margin-right: 0.4em
    text-align: center
  .player-name
    vertical-align: top

.wait-message
  text-transform: none
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0

.game-wait-message
  left: 0
  right: 0
  text-align: center

@import header
@import intro
@import forms
@import fonts
@import leaderboard
@import welcome
@import bingo
@import winner
